* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.gallery-item {
    flex-basis: calc(33.333% - 10px);
}

.gallery-image {
    width: 100%;
    height: auto;
    display: block;
}

